*{
    padding: 0px;
}

/* body{
    margin: 0;
    padding: 0;
} */

/* body > div{
    background-color: purple;
    padding: 20px;
    margin-bottom: 10px;
} */

div.para{
    background-color: aqua;
    padding: 20px;
    margin: 20px;
}
h1{
    /* padding: 0px; */
}

